/vendor
/node_modules
/public/storage
/public/assets
/public/css
/public/js
/public/images
/public/build
Homestead.yaml
Homestead.json
.env
npm-debug.log
npm-debug.log.*
.DS_Store
**/.DS_Store
Thumbs.db
**/Thumbs.db
composer.lock